@import "variables";
@import "aside";
@import "header";
@import "tickets--menu";
@import "tabs";
.app{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $background-app;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}