@use "variables" as *;

h5{
  margin: 0;
  color: $h5-color;
}
.ticket{
  width: 502px;
  min-height: 184px;
  background-color: $background-ticket;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 5px;
}
.cup--of--ticket{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 462px;
  height: 36px;
  padding: 20px;
}
.cup--of--ticket{
  color: $hover-color;
}
.avia--company-logo{
  width: 110px;
  height: 36px;

}
.ticket--info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticket--info-item{
  width: 462px;
  height: 39px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.cities--and--time{
  width: 141px;
  height: 39px;
}
p.time{
  margin: 0;
}
.time--in--flight-p{
  margin: 0;
}
.city-transfer{
  margin: 0;
}
.time--in--flight{
  width: 141px;
  height: 39px;
}
.transfers{
  width: 140px;
  height: 39px;
}