$hover-color: rgba(33, 150, 243, 1);
$background-ticket: rgba(255, 255, 255, 1);
$background-filter: rgba(255, 255, 255, 1);
$background-app: rgba(243, 247, 250, 1);
$h5-color: rgba(160, 176, 185, 1);
$ah: rgba(74, 74, 74, 1);
$cursor-hover: rgba(241, 252, 255, 1);